#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.solid:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.logo.solid {
  width: 200px;
  /* or whatever size you prefer */
  height: auto;
  /* maintain aspect ratio */
}

body {
  background-color: black;
  /* Set the background to black */
  color: white;
  /* Set text color to white for better readability */
}


li button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px; /* Adjust size as needed */
}

.wallet-title:hover {
  cursor: pointer;
  /* Add your desired hover styles here, e.g., color change, text decoration, etc. */
  color: #007bff; /* Example: Change color on hover */
  text-decoration: underline;
}

/* Adjust the layout to move everything towards the top */
body, html {
  margin-top: 0;
  padding-top: 0;
}

/* If you have a specific container or wrapper, adjust its top margin/padding as well */
.your-main-container-class {
  margin-top: 0; /* Adjust as needed */
}
